
body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 20rem auto;
}

.sidebar {
    background-color: #ffffff;
    height: 100vh;
}

.headingimage {
    display: flex;
    align-items: center;
    margin: 25px;
}

.logo {
    width: 70px;
    height: 70px;
}

.sidebar-heading {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #3C464E;
    margin-left: 20px;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu .icon-text-wrapper {
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
    margin-bottom: 1.5625rem;
}


.sidebar-menu .icon-text-wrapper .material-symbols-outlined {
    margin-right: 1.25rem;
    /* Adjust the spacing between icon and text */
}

.sidebar-menu li {
    color: #3C464E;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
}

.sidebar-menu li a {
    color: #3C464E;
    text-decoration: none;
}

.sidebar-menu li:hover {
    color: #4C44B1;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
}

.sidebar-menu li:hover a {
    color: #4C44B1;
    /* Text color for menu items */
}

.material-symbols-outlined {
    font-size: 2.5rem;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 40
}

@media screen and (max-width:1200px) {
    .container {
      width: 100%;
      grid-template-columns: 7.5rem auto;
    }
  
    .text, .sidebar-heading {
      display: none;
    }
  }

.mainarea {
    background-color: #EFF2FB;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin: 3rem;
    color: #3C464E;
}

.searchuser input[type=text] {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    padding-left: 20px;
    width: 300px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: white;
    /*     background-image: url('home-assets/search.svg');
      background-position: 10px;
      background-repeat: no-repeat; */
}

.user-image {
    width: 50px;
    height: 50px;
    margin-left: 40px;
}

.expand {
    margin-left: 10px;
}

.searchuser {
    display: flex;
    align-items: center;
    text-align: right;
    margin: 3rem;
}

.hello {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    padding: 3rem;
    background-color: white;
    width: calc(100% - 12rem);
    height: 200px;
    border: none;
    outline: none;
    border-spacing: 0;
    border-radius: 5px;
    color: #3C464E;
    font-family: 'Outfit', sans-serif;
    text-align: left;
}

.greeting {
    font-weight: 500;
    font-size: 3rem;
}

.comment {
    font-weight: 400px;
    font-size: 1.125rem;
}

.totalboxes {
    display: flex;
    align-items: center;
    justify-content: left;
}

.incometitle {
    color: #3C464E;
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.expensestitle {
    color: #3C464E;
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
    margin-left: 10px;
}

.total1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 100px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: white;
}

.total2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 100px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: white;
    margin-left: 10px;
}

.number {
    color: #3C464E;
    font-family: 'Outfit', sans-serif;
    font-size: 1.75rem;
    margin-left: 30px;
}

.label {
    color: #3C464E;
    font-family: 'Outfit', sans-serif;
    font-size: 1.125rem;
    margin-right: 30px;
    font-weight: 400;
}


.latesttitle {
    color: #3C464E;
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 3rem;
    margin-bottom: 20px;
    margin-top: 60px;
}

.latest {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1010px;
    height: 65px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: white;
    margin-left: 3rem;
    margin-bottom: 10px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
}

h3 {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.calendar {
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 1.5rem;
    width: 350px;
    background: #fff;
    border-radius: 5px;
    /*     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    color: #3C464E;
    font-family: 'Outfit', sans-serif;
}

.calendar header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.calendar nav {
    display: flex;
    align-items: center;
}

.calendar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
    padding: 0;
}

.calendar ul li {
    width: calc(100% / 7);
    position: relative;
    z-index: 2;
    margin-top: 10px;
    margin-bottom: 10px;
}

#prev,
#next {
    width: 20px;
    height: 20px;
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
}

#prev::before,
#next::before {
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    border-color: #ccc;
}

#next::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

#prev::before {
    transform: translate(-50%, -50%) rotate(-135deg);
}

#prev:hover::before,
#next:hover::before {
    border-color: #3C464E;
}

.days {
    font-weight: 600;
}

.dates li.today {
    color: #fff;
}

.dates li.today::before {
    content: "";
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3C464E;
    border-radius: 50%;
    z-index: -1;
}

.dates li.inactive {
    color: #ccc;
}

.comparison {
    background-color: white;
    border-radius: 5px;
    width: 946px;
    color: #3C464E;
    font-family: 'Outfit', sans-serif;
    padding: 2rem;
    margin-top: 10px;
}

.percentdatavs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.expensespercentlabel {
    text-align: right;
}

.incomepercent, .expensespercent {
    font-size: 1.75rem;
    font-weight: 400;
}

.incomelabel, .expenseslabel {
    color: #3C464E;
    font-family: 'Outfit', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
}

.percentbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.incomepercentbar {
    background-color: #4C44B1;
    height: 3rem;
    border-radius: 5px 0px 0px 5px;
}

.expensespercentbar {
    background-color: #07A5BB;
    height: 3rem;
    border-radius: 0px 5px 5px 0px;
}

