/* Standard styling */
body {
    margin: 0;
    display: flex;
}

.left {
    float: left;
    width: 50vw;
    height:100vh;
    background-color: #4C44B1;
    background-image: linear-gradient(to top right, rgba(7, 165, 187, 0.75),#4C44B1);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.right {
    float: right;
    width: 50vw;
    height:100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.logintitle {
    color: #3C464E;
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}

.space {
    height: 3rem;
}

.mediumspace {
    height: 2rem;
}

input[type=text],
input[type=password] {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    padding-left: 20px;
    width: 375px;
    height: 50px;
    border: 1px solid #9da3a7;
    outline: none;
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
}

.smallspace {
    height: 20px;
}

input[type=submit] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #4C44B1;
    color:#ffffff;
    font-family: 'Outfit', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
}

.noacc {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: #9da3a7;
    text-align: center;
}

.noacc a {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: #4C44B1;
    text-align: inherit;
    text-decoration: underline;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .right {
        float: none;
        width: 100%;
    }
    .left {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .right {
        width: 60vw;
    }
    .left {
        width: 40vw;
        display: flex;
        align-items: center;
    }
}

.logo {
    width: 200px;
    height: 200px;
}

.left {
    display: flex;
    align-items: center;
}